@{
    ViewData["Title"] = "Home Page";
}
<!-- Banner Section -->
<section class="banner-section">
    <div class="banner-carousel owl-carousel owl-theme">
        <!-- Slide Item -->
        <div class="slide-item"
             style="background-image: url(images/main-slider/1.jpg)">
            <div class="auto-container">
                <div class="inner-box">
                    <div class="content-box">
                        <span class="price">1500<small>/اجاره ماهانه</small></span>
                        <h2>خانه زیبا در بهترین مکان</h2>
                        <ul class="property-info">
                            <li>
                                <span class="icon flaticon-bed-1"></span>
                                <strong>03</strong>
                                <p>اتاق خواب</p>
                            </li>
                            <li>
                                <span class="icon flaticon-kitchen"></span>
                                <strong>01</strong>
                                <p>آشپزخانه</p>
                            </li>
                            <li>
                                <span class="icon flaticon-grass"></span>
                                <strong>02</strong>
                                <p>زمین بازی</p>
                            </li>
                        </ul>
                        <div class="address">
                            <span class="icon fa fa-map-marker-alt"></span>ایران , رشت ,
                            خیابان مدائن , کوچه گلریز , پلاک 123
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-two"><span class="btn-title">قرار ملاقات</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item"
             style="background-image: url(images/main-slider/2.jpg)">
            <div class="auto-container">
                <div class="inner-box">
                    <div class="content-box">
                        <span class="price">1500<small>/اجاره ماهانه</small></span>
                        <h2>خانه زیبا در بهترین مکان</h2>
                        <ul class="property-info">
                            <li>
                                <span class="icon flaticon-bed-1"></span>
                                <strong>03</strong>
                                <p>اتاق خواب</p>
                            </li>
                            <li>
                                <span class="icon flaticon-kitchen"></span>
                                <strong>01</strong>
                                <p>آشپزخانه</p>
                            </li>
                            <li>
                                <span class="icon flaticon-grass"></span>
                                <strong>02</strong>
                                <p>زمین بازی</p>
                            </li>
                        </ul>
                        <div class="address">
                            <span class="icon fa fa-map-marker-alt"></span>ایران , رشت ,
                            خیابان مدائن , کوچه گلریز , پلاک 123
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-two"><span class="btn-title">قرار ملاقات</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item"
             style="background-image: url(images/main-slider/3.jpg)">
            <div class="auto-container">
                <div class="inner-box">
                    <div class="content-box">
                        <span class="price">1500<small>/اجاره ماهانه</small></span>
                        <h2>خانه زیبا در بهترین مکان</h2>
                        <ul class="property-info">
                            <li>
                                <span class="icon flaticon-bed-1"></span>
                                <strong>03</strong>
                                <p>اتاق خواب</p>
                            </li>
                            <li>
                                <span class="icon flaticon-kitchen"></span>
                                <strong>01</strong>
                                <p>آشپزخانه</p>
                            </li>
                            <li>
                                <span class="icon flaticon-grass"></span>
                                <strong>02</strong>
                                <p>زمین بازی</p>
                            </li>
                        </ul>
                        <div class="address">
                            <span class="icon fa fa-map-marker-alt"></span>ایران , رشت ,
                            خیابان مدائن , کوچه گلریز , پلاک 123
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-two"><span class="btn-title">قرار ملاقات</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!-- Property Search Section -->
<section class="property-search-section">
    <div class="auto-container">
        <div class="property-search-tabs tabs-box">
            <ul class="tab-buttons">
                <li data-tab="#rent" class="tab-btn">برای فروش</li>
            </ul>

            <div class="tabs-content">
                <!--Tab / Active Tab-->
                <div class="tab active-tab" id="sale">
                    <div class="property-search-form">
                        <form method="post" action="index.html">
                            <div class="row">
                                <!-- Form Group -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                    <select class="custom-select-box">
                                        <option>همه انواع</option>
                                        <option>ویلا</option>
                                        <option>اپارتمان</option>
                                        <option>تجاری</option>
                                    </select>
                                </div>

                                <!-- Form Group -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                    <select class="custom-select-box">
                                        <option>اتاق خواب</option>
                                        <option>01 اتاق خواب</option>
                                        <option>02 اتاق خواب</option>
                                        <option>03 اتاق خواب</option>
                                        <option>04 اتاق خواب</option>
                                        <option>05 اتاق خواب</option>
                                    </select>
                                </div>

                                <!-- Form Group -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                    <select class="custom-select-box">
                                        <option>پیش فروش</option>
                                        <option>آماده تحویل</option>
                                        <option>فروش دوباره</option>
                                    </select>
                                </div>

                                <!-- Form Group -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                    <button type="submit" class="theme-btn btn-style-three">
                                        <span class="btn-title">جستجو</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Property Search Section -->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content COlumn -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="devider"><span></span></div>
                        <h2>درباره ما</h2>
                        <div class="text">خوش آمدید سایت مشاور املاک و مستغلات</div>
                    </div>

                    <!-- text Box -->
                    <div class="text-box">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </div>

                    <!-- About Block -->
                    <div class="about-block wow fadeInUp">
                        <div class="inner">
                            <div class="icon flaticon-layers"></div>
                            <h4>کار ما</h4>
                            <div class="text">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                و با استفاده از طراحان گرافیک است.
                            </div>
                        </div>
                    </div>

                    <!-- About Block -->
                    <div class="about-block wow fadeInUp">
                        <div class="inner">
                            <div class="icon flaticon-bar-chart"></div>
                            <h4>دیدگاه ما</h4>
                            <div class="text">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                و با استفاده از طراحان گرافیک است.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature Column -->
            <div class="feature-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column"
                     style="background-image: url(images/resource/image-1.jpg)">
                    <div class="row no-gutters">
                        <!-- Title Block -->
                        <div class="title-block col-lg-6 col-md-6 wow fadeIn">
                            <div class="inner-box">
                                <h3>بهترین <br />پیشنهادات املاک</h3>
                            </div>
                        </div>

                        <!-- Feature-block -->
                        <div class="feature-block col-lg-6 col-md-6 wow fadeIn"
                             data-wow-delay="400ms">
                            <div class="inner-box">
                                <div class="icon flaticon-home-insurance"></div>
                                <h4><a href="property-detail.html">بیمه املاک</a></h4>
                                <div class="text">مدیریت املاک</div>
                            </div>
                        </div>

                        <!-- Feature-block -->
                        <div class="feature-block col-lg-6 col-md-6 order-2 wow fadeIn"
                             data-wow-delay="800ms">
                            <div class="inner-box">
                                <div class="icon flaticon-home-2"></div>
                                <h4><a href="property-detail.html">جستجوی املاک</a></h4>
                                <div class="text">مدیریت املاک</div>
                            </div>
                        </div>

                        <!-- Feature-block -->
                        <div class="feature-block col-lg-6 col-md-6 wow fadeIn"
                             data-wow-delay="1200ms">
                            <div class="inner-box">
                                <div class="icon flaticon-mortgage"></div>
                                <h4><a href="property-detail.html">تحلیل بازار</a></h4>
                                <div class="text">مدیریت املاک</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section -->
<!-- Property Section -->
<section class="property-section"
         style="background-image: url(images/background/1.jpg)">
    <div class="auto-container">
        <div class="sec-title light text-center">
            <div class="devider"><span></span></div>
            <h2>جدیدترین املاک</h2>
            <div class="text">خانه خود را در شهر خود پیدا کنید</div>
        </div>

        <div class="property-carousel owl-carousel owl-theme">
            <!-- Property Block -->
            <div class="property-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="property-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/property-1.jpg"
                                     alt="" />
                            </a>
                        </figure>
                        <span class="for">برای فروش</span>
                    </div>
                    <div class="lower-content">
                        <ul class="property-info clearfix">
                            <li>
                                <span class="icon fa fa-expand"></span> مساحت 12،000
                            </li>
                            <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                            <li><span class="icon fa fa-bath"></span> حمام 2</li>
                        </ul>
                        <h3><a href="property-detail.html">تهران , آتی ساز</a></h3>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است.
                        </div>
                        <div class="property-price clearfix">
                            <div class="location">
                                <span class="icon fa fa-map-marker-alt"></span> تهران ,
                                جنت آباد , پلاک 123
                            </div>
                            <div class="price">765,300</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="property-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/property-2.jpg"
                                     alt="" />
                            </a>
                        </figure>
                        <span class="for">برای فروش</span>
                    </div>
                    <div class="lower-content">
                        <ul class="property-info clearfix">
                            <li>
                                <span class="icon fa fa-expand"></span> مساحت 12،000
                            </li>
                            <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                            <li><span class="icon fa fa-bath"></span> حمام 2</li>
                        </ul>
                        <h3><a href="property-detail.html">تهران , آتی ساز</a></h3>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است.
                        </div>
                        <div class="property-price clearfix">
                            <div class="location">
                                <span class="icon fa fa-map-marker-alt"></span> تهران ,
                                جنت آباد , پلاک 123
                            </div>
                            <div class="price">765,300</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="property-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/property-3.jpg"
                                     alt="" />
                            </a>
                        </figure>
                        <span class="for">برای فروش</span>
                    </div>
                    <div class="lower-content">
                        <ul class="property-info clearfix">
                            <li>
                                <span class="icon fa fa-expand"></span> مساحت 12،000
                            </li>
                            <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                            <li><span class="icon fa fa-bath"></span> حمام 2</li>
                        </ul>
                        <h3><a href="property-detail.html">تهران , آتی ساز</a></h3>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است.
                        </div>
                        <div class="property-price clearfix">
                            <div class="location">
                                <span class="icon fa fa-map-marker-alt"></span> تهران ,
                                جنت آباد , پلاک 123
                            </div>
                            <div class="price">765,300</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="property-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/property-1.jpg"
                                     alt="" />
                            </a>
                        </figure>
                        <span class="for">برای فروش</span>
                    </div>
                    <div class="lower-content">
                        <ul class="property-info clearfix">
                            <li>
                                <span class="icon fa fa-expand"></span> مساحت 12،000
                            </li>
                            <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                            <li><span class="icon fa fa-bath"></span> حمام 2</li>
                        </ul>
                        <h3><a href="property-detail.html">تهران , آتی ساز</a></h3>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است.
                        </div>
                        <div class="property-price clearfix">
                            <div class="location">
                                <span class="icon fa fa-map-marker-alt"></span> تهران ,
                                جنت آباد , پلاک 123
                            </div>
                            <div class="price">765,300</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="property-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/property-2.jpg"
                                     alt="" />
                            </a>
                        </figure>
                        <span class="for">برای فروش</span>
                    </div>
                    <div class="lower-content">
                        <ul class="property-info clearfix">
                            <li>
                                <span class="icon fa fa-expand"></span> مساحت 12،000
                            </li>
                            <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                            <li><span class="icon fa fa-bath"></span> حمام 2</li>
                        </ul>
                        <h3><a href="property-detail.html">تهران , آتی ساز</a></h3>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است.
                        </div>
                        <div class="property-price clearfix">
                            <div class="location">
                                <span class="icon fa fa-map-marker-alt"></span> تهران ,
                                جنت آباد , پلاک 123
                            </div>
                            <div class="price">765,300</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="property-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/property-3.jpg"
                                     alt="" />
                            </a>
                        </figure>
                        <span class="for">برای فروش</span>
                    </div>
                    <div class="lower-content">
                        <ul class="property-info clearfix">
                            <li>
                                <span class="icon fa fa-expand"></span> مساحت 12،000
                            </li>
                            <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                            <li><span class="icon fa fa-bath"></span> حمام 2</li>
                        </ul>
                        <h3><a href="property-detail.html">تهران , آتی ساز</a></h3>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است.
                        </div>
                        <div class="property-price clearfix">
                            <div class="location">
                                <span class="icon fa fa-map-marker-alt"></span> تهران ,
                                جنت آباد , پلاک 123
                            </div>
                            <div class="price">765,300</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Property Section -->
<!--Popular Places Section-->
<section class="popular-places-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>مکان های دیدنی</h2>
        </div>

        <div class="masonry-items-container clearfix">
            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/1.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>اپارتمان</h4>
                        <span>15 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>اپارتمان</h4>
                            <span class="properties">15 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item large-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/2.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>ویلا</h4>
                        <span>7 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>ویلا</h4>
                            <span class="properties">7 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/3.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>خانه</h4>
                        <span>50 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>خانه</h4>
                            <span class="properties">50 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/4.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>رستوران</h4>
                        <span>5 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>رستوران</h4>
                            <span class="properties">5 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/5.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>کافه</h4>
                        <span>5 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>کافه</h4>
                            <span class="properties">5 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item large-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/6.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>مزرعه</h4>
                        <span>5 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>مزرعه</h4>
                            <span class="properties">5 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Popular Places-->
<!-- Agents Section -->
<div class="agents-section">
    <div class="auto-container">
        <div class="sec-title">
            <div class="devider"><span></span></div>
            <h2>مشاوران حرفه ای</h2>
            <div class="text">با مشاوران حرفه ای از املاک دیدن کنید</div>
        </div>

        <div class="agents-carousel owl-carousel owl-theme">
            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-1.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">محمد بهمنی</a>
                        </h4>
                        <span class="designation">14 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-2.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">فلورا معصومی</a>
                        </h4>
                        <span class="designation">21 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-3.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">سعید ملکی</a>
                        </h4>
                        <span class="designation">11 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-1.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">محمد بهمنی</a>
                        </h4>
                        <span class="designation">14 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-2.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">فلورا معصومی</a>
                        </h4>
                        <span class="designation">12 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-3.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">سعید ملکی</a>
                        </h4>
                        <span class="designation">12 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Agents Section -->
<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>آنچه مشتریان ما می گوید</h2>
            <div class="text">خانه رویایی خود را در شهر خود پیدا کنید</div>
        </div>

        <div class="testimonial-carousel owl-carousel owl-theme">
            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="images/icons/empty.png"
                                 data-src="images/resource/testi-thumb.jpg"
                                 alt="" />
                        </figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">سعید محمودی</h4>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است.
                        </div>
                        <div class="rating">
                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="images/icons/empty.png"
                                 data-src="images/resource/testi-thumb-2.jpg"
                                 alt="" />
                        </figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">ستاره جعفری</h4>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است.
                        </div>
                        <div class="rating">
                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="images/icons/empty.png"
                                 data-src="images/resource/testi-thumb.jpg"
                                 alt="" />
                        </figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">سعید محمودی</h4>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است.
                        </div>
                        <div class="rating">
                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="images/icons/empty.png"
                                 data-src="images/resource/testi-thumb-2.jpg"
                                 alt="" />
                        </figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">ستاره جعفری</h4>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است.
                        </div>
                        <div class="rating">
                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="images/icons/empty.png"
                                 data-src="images/resource/testi-thumb.jpg"
                                 alt="" />
                        </figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">سعید محمودی</h4>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است.
                        </div>
                        <div class="rating">
                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="images/icons/empty.png"
                                 data-src="images/resource/testi-thumb-2.jpg"
                                 alt="" />
                        </figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">ستاره جعفری</h4>
                        <div class="text">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است.
                        </div>
                        <div class="rating">
                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section -->
<!-- Call To Action -->
<section class="call-to-action"
         style="background-image: url(images/background/2.jpg)"
         data-stellar-background-ratio="0.5">
    <div class="auto-container">
        <div class="sec-title light text-center">
            <div class="text">در چند ثانیه خانه خود را بخرید یا بفروشید.</div>
            <h2>مسکن املاک و مستغلات .</h2>
        </div>
        <div class="btn-box">
            <a href="admin/submit-property.html" class="theme-btn btn-style-two"><span class="btn-title">ثبت ملک</span></a>
            <a href="property-grid-view.html" class="theme-btn btn-style-four"><span class="btn-title">جستجو ملک</span></a>
        </div>
    </div>
</section>
<!--End Call To Action -->
<!-- News Section -->
<section class="news-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>اخبار و مقاله ما</h2>
            <div class="text">همه درباره آخرین به روزرسانی ها</div>
        </div>

        <div class="inner-container">
            <div class="news-carousel owl-carousel owl-theme">
                <!-- News BLock -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="blog-detail.html">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-1.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="blog-detail.html">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-2.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- News BLock -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="blog-detail.html">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-1.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="blog-detail.html">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-2.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Section -->
<!--Clients Section-->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/1.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/2.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/3.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/4.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/5.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/1.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/2.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/3.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/4.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="images/icons/empty.png"
                                 data-src="images/clients/5.png"
                                 alt="" />
                        </a>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->
