@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>تماس با ما</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>تماس با ما</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Contact Page Section -->
<section class="contact-page-section">
    <div class="auto-container">
        <div class="outer-box">
            <div class="row clearfix">
                <div class="contact-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                        <h2>تماس با ما</h2>
                        <ul class="contact-info">
                            <li>
                                <span class="icon fa fa-map-marker-alt"></span>
                                <p>ایران , تهران , زعفرانیه </p>
                            </li>

                            <li>
                                <span class="icon fa fa-phone-volume"></span>
                                <p><a href="tel:+874561230">+021 12345678</a></p>
                            </li>

                            <li>
                                <span class="icon fa fa-envelope"></span>
                                <p><a href="mailto:info@revel.com">info@revel.com</a></p>
                            </li>

                            <li>
                                <span class="icon fab fa-skype"></span>
                                <p>rtl-theme</p>
                            </li>
                        </ul>

                        <ul class="social-icon-four">
                            <li class="title">ما را دنبال کنید :</li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="contact-form">
                            <div class="title">
                                <h2>ارسال پیام برای ما</h2>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم!</div>
                            </div>
                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="نام" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="ایمیل" required="">
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="subject" placeholder="موضوع" required="">
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="پیام"></textarea>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">ارسال</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Contact Page Section -->


