@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AddressVM
<div class="header-top">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="top-right">
                <ul class="contact-list clearfix">
                    <li>
                        <i class="fa fa-phone-volume"></i>
                        <a href="tel:@Model?.CellPhone">@Model?.CellPhone</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i><a href="@Model?.Email">@Model?.Email</a>
                    </li>
                </ul>
            </div>
            <div class="top-left clearfix">
                <ul class="social-icon-one">
                    <li>
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-skype"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>