@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>خدمات</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>خدمات </li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Services Section -->
<section class="services-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>خدمات ملک</h2>
            <div class="text">ما در حال ارائه بهترین املاک و مستغلات هستیم</div>
        </div>

        <div class="row">
            <!-- Image Column -->
            <div class="image-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="image-box">
                    <figure class="image"><a href="images/resource/image-2.jpg" class="lightbox-image"><img src="images/icons/empty.png" data-src="images/resource/image-2.jpg" alt=""></a></figure>
                </div>
            </div>

            <!-- Service Column -->
            <div class="service-column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-column">
                    <!-- Service Block -->
                    <div class="service-block wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-house"></span>
                            <h4><a href="services.html">خانه برای فروش</a></h4>
                            <div class="text">در اینجا خانه های زیبایی که برای فروش در دسترس هستند وجود دارد.</div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-rent"></span>
                            <h4><a href="services.html">خانه برای اجاره</a></h4>
                            <div class="text">در اینجا خانه های زیبایی که برای فروش در دسترس هستند وجود دارد.</div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-architecture-and-city"></span>
                            <h4><a href="services.html">خانه وام دار</a></h4>
                            <div class="text">در اینجا خانه های زیبایی که برای فروش در دسترس هستند وجود دارد.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Column  -->
            <div class="service-column col-xl-4 col-lg-6 col-md-6 col-sm-12 order-3">
                <div class="inner-column">
                    <!-- Service Block -->
                    <div class="service-block wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-buyer"></span>
                            <h4><a href="services.html">تطبیق خریدار</a></h4>
                            <div class="text">در اینجا خانه های زیبایی که برای فروش در دسترس هستند وجود دارد.</div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-analytics"></span>
                            <h4><a href="services.html">تجزیه و تحلیل قیمت</a></h4>
                            <div class="text">در اینجا خانه های زیبایی که برای فروش در دسترس هستند وجود دارد.</div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-house-3"></span>
                            <h4><a href="services.html">خانه های اجاره ای</a></h4>
                            <div class="text">در اینجا خانه های زیبایی که برای فروش در دسترس هستند وجود دارد.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Services Section -->
<!-- Call To Action -->
<section class="call-to-action" style="background-image: url(images/background/2.jpg);" data-stellar-background-ratio="0.5">
    <div class="auto-container">
        <div class="sec-title light text-center">
            <div class="text">در چند ثانیه خانه خود را بخرید یا بفروشید.</div>
            <h2>مسکن املاک و مستغلات.</h2>
        </div>
        <div class="btn-box">
            <a href="admin/submit-property.html" class="theme-btn btn-style-two"><span class="btn-title">ثبت ملک</span></a>
            <a href="property-grid-view.html" class="theme-btn btn-style-four"><span class="btn-title">جستجو ملک</span></a>
        </div>
    </div>
</section>
<!--End Call To Action -->
<!-- Agents Section Two -->
<section class="agents-section-two alternate">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>ملاقات با مشاوران ما</h2>
            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</div>
        </div>
        <div class="carousel-outer">
            <div class="agents-carousel-two owl-carousel owl-theme">
                <!-- Agent Block -->
                <div class="agent-block-two">
                    <div class="row">
                        <div class="image-column col-lg-5 col-md-12 col-sm-12 order-2">
                            <div class="image-box">
                                <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/agent-4.jpg" alt=""></figure>
                            </div>
                        </div>
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                            <div class="inner-column clearfix">
                                <h3 class="name">فلورا معصومی</h3>
                                <span class="designation">مشاور - املاک و مستغلات</span>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </div>
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone-volume"></span><a href="#">(+021) 12345678</a></li>
                                    <li><span class="icon fa fa-envelope"></span><a href="#">anitamona@Revel.com</a></li>
                                    <li><span class="icon fa fa-map-marker-alt"></span><a href="#">تهران , زعفرانیه</a></li>
                                </ul>
                                <ul class="follow-us social-icon-colored">
                                    <li class="title">شبکه های اجتماعی :</li>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                                <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">بیشتر</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Agent Block -->
                <div class="agent-block-two">
                    <div class="row">
                        <div class="image-column col-lg-5 col-md-12 col-sm-12 order-2">
                            <div class="image-box">
                                <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/agent-4.jpg" alt=""></figure>
                            </div>
                        </div>
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                            <div class="inner-column clearfix">
                                <h3 class="name">فلورا معصومی</h3>
                                <span class="designation">مشاور - املاک و مستغلات</span>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </div>
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone-volume"></span><a href="#">(+021) 12345678</a></li>
                                    <li><span class="icon fa fa-envelope"></span><a href="#">anitamona@Revel.com</a></li>
                                    <li><span class="icon fa fa-map-marker-alt"></span><a href="#">تهران , زعفرانیه</a></li>
                                </ul>
                                <ul class="follow-us social-icon-colored">
                                    <li class="title">شبکه های اجتماعی :</li>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                                <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">بیشتر</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Agent Block -->
                <div class="agent-block-two">
                    <div class="row">
                        <div class="image-column col-lg-5 col-md-12 col-sm-12 order-2">
                            <div class="image-box">
                                <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/agent-4.jpg" alt=""></figure>
                            </div>
                        </div>
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                            <div class="inner-column clearfix">
                                <h3 class="name">فلورا معصومی</h3>
                                <span class="designation">مشاور - املاک و مستغلات</span>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </div>
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone-volume"></span><a href="#">(+021) 12345678</a></li>
                                    <li><span class="icon fa fa-envelope"></span><a href="#">anitamona@Revel.com</a></li>
                                    <li><span class="icon fa fa-map-marker-alt"></span><a href="#">تهران , زعفرانیه</a></li>
                                </ul>
                                <ul class="follow-us social-icon-colored">
                                    <li class="title">شبکه های اجتماعی :</li>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                                <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">بیشتر</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Agents Section Two -->
