
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>جزئیات املاک</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>جزئیات املاک</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="property-info-box">
            <div class="row">
                <div class="about-property col-lg-8 col-md-12 col-sm-12">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی</h2>
                    <ul class="property-info clearfix">
                        <li><i class="fa fa-expand"></i> 356 مساحت</li>
                        <li><i class="fa fa-bed"></i> 4 اتاق های خواب</li>
                        <li><i class="fa fa-bath"></i> 3 حمام</li>
                    </ul>
                </div>
                <div class="price-column col-lg-4 col-md-12 col-sm-12">
                    <div class="price"> 165,300</div>
                    <div class="location"><i class="icon fa fa-map-marker-alt"></i> سواحل های شمال کشور</div>
                </div>
            </div>
            <div class="image-box">
                <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/property-single-img.jpg" alt=""></figure>
                <span class="status">برای اجاره</span>
            </div>
        </div>

        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="property-detail">
                    <h3>توضیحات ملک</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت .</p>
                    <h4>آدرس</h4>
                    <div class="table-outer">
                        <table class="info-table">
                            <tr>
                                <td><strong>آدرس:</strong> سواحل های شمال کشور</td>
                                <td><strong>شهر:</strong> مازندران</td>
                            </tr>
                            <tr>
                                <td><strong>منطقه:</strong> ساحلی</td>
                                <td><strong>کشور / استان:</strong> مازندران</td>
                            </tr>
                            <tr>
                                <td><strong>کد پستی:</strong> 10009</td>
                                <td><strong>کشور:</strong> ایران</td>
                            </tr>
                        </table>

                    </div>

                    <h4>جزئیات</h4>
                    <div class="table-outer">
                        <table class="info-table">
                            <tr>
                                <td><strong>شناسه املاک:</strong> 145</td>
                                <td><strong>قیمت:</strong>  200,000 / ماهانه</td>
                            </tr>
                            <tr>
                                <td><strong>اتاق ها:</strong> 5</td>
                                <td><strong>مساحت:</strong> 3000</td>
                            </tr>
                            <tr>
                                <td><strong>اندازه ملک:</strong> 3000</td>
                                <td><strong>تست:</strong> 02</td>
                            </tr>
                            <tr>
                                <td><strong>حمام:</strong> 2</td>
                                <td><strong>نوع ساختار:</strong> آجر</td>
                            </tr>
                            <tr>
                                <td><strong>طبقه:</strong> 01</td>
                                <td><strong>اتاق ها:</strong> 5</td>
                            </tr>
                        </table>
                    </div>

                    <h4>امکانات</h4>
                    <ul class="features-list clearfix">
                        <li>اتاق زیر شیروانی</li>
                        <li>بخاری گازی</li>
                        <li>نمای اقیانوس</li>
                        <li>انبار</li>
                        <li>زمین بسکتبال</li>
                        <li>سالن ورزش</li>
                        <li>بخاری</li>
                        <li>بخاری</li>
                        <li>نمای دریاچه</li>
                        <li>استخر</li>
                        <li>حیاط</li>
                        <li>حیاط جلویی</li>
                        <li>حصارکشی حیاط</li>
                        <li>آبپاش ها</li>
                        <li>واشر و خشک کن</li>
                        <li>عرشه</li>
                        <li>خشکشویی</li>
                        <li>فضای خصوصی</li>
                        <li>عرشه سقف</li>
                        <li>سالن ورزش</li>
                    </ul>
                    <h4>برنامه های طبقه</h4>
                    <div class="floor-plans">
                        <ul class="floor-info clearfix">
                            <li class="title">طرح نمونه طبقه</li>
                            <li>2 حمام</li>
                            <li>3 اتاق خواب</li>
                            <li>12,000 مساحت</li>
                        </ul>
                        <div class="text">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت .</p>
                        </div>
                        <div class="floor-image">
                            <figure class="image"><img src="~/images/icons/empty.png" data-src="images/resource/floor-img.png" alt=""></figure>
                        </div>
                    </div>

                    <h4>تور مجازی</h4>
                    <div class="video-box">
                        <figure class="image"><img src="~/images/icons/empty.png" data-src="images/resource/image-4.jpg" alt=""></figure>
                        <div class="content-box">
                            <a href="https://www.youtube.com/watch?v=FvanxzVz4" class="play-now" data-fancybox="gallery" data-caption=""><i class="icon flaticon-play-button" aria-hidden="true"></i><span class="ripple"></span></a>
                            <h4>ارتفاعات اتاق</h4>
                        </div>
                    </div>

                    <h4>موقعیت مکانی با نقشه</h4>
                    <div class="map-outer">
                        <!--Map Canvas-->
                        <div class="map-canvas"
                             data-zoom="12"
                             data-lat="-37.817085"
                             data-lng="144.955631"
                             data-type="roadmap"
                             data-hue="#ffc400"
                             data-title="Envato"
                             data-icon-path="images/icons/map-marker-2.png"
                             data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                        </div>
                    </div>

                    <!-- Review Box -->
                    <div class="review-area">
                        <!--Reviews Container-->
                        <div class="reviews-container">
                            <h3>نظرات مشتریان</h3>
                            <!--Reviews-->
                            <article class="review-box">
                                <div class="thumb-box">
                                    <figure class="thumb"><img src="~/images/icons/empty.png" data-src="images/resource/review-thumb-1.jpg" alt=""></figure>
                                    <a href="#" class="reply-btn">اکنون پاسخ دهید</a>
                                </div>
                                <div class="content-box">
                                    <div class="name">فلورا معصومی</div>
                                    <span class="date"><i class="fa fa-calendar-alt"></i> 5 شهریور, 1398</span>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                                </div>
                            </article>

                            <!--Reviews-->
                            <article class="review-box reply">
                                <div class="thumb-box">
                                    <figure class="thumb"><img src="wwwroot/images/icons/empty.png" data-src="images/resource/review-thumb-2.jpg" alt=""></figure>
                                    <a href="#" class="reply-btn theme-btn">اکنون پاسخ دهید</a>
                                </div>
                                <div class="content-box">
                                    <div class="name">فلورا معصومی</div>
                                    <span class="date"><i class="fa fa-calendar-alt"></i> 5 شهریور, 1398</span>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                                </div>
                            </article>

                            <!--Reviews-->
                            <article class="review-box">
                                <div class="thumb-box">
                                    <figure class="thumb"><img src="~/wwwroot/images/icons/empty.png" data-src="images/resource/review-thumb-3.jpg" alt=""></figure>
                                    <a href="#" class="reply-btn theme-btn">اکنون پاسخ دهید</a>
                                </div>
                                <div class="content-box">
                                    <div class="name">محمد بهمنی</div>
                                    <span class="date"><i class="fa fa-calendar-alt"></i> 5 شهریور, 1398</span>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- Review Comment Form -->
                    <div class="review-comment-form">
                        <h3>ارسال پیام</h3>
                        <form method="post" action="contact.html">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="username" placeholder="نام و نام خانوادگی" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="number" placeholder="آدرس ایمیل" required>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <textarea name="message" placeholder="پیام"></textarea>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <div class="rating-box">
                                        <div class="text"> امتیاز شما:</div>
                                        <div class="rating">
                                            <a href="#"><span class="far fa-star"></span></a><a href="#"><span class="far fa-star"></span></a><a href="#"><span class="far fa-star"></span></a><a href="#"><span class="far fa-star"></span></a><a href="#"><span class="far fa-star"></span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-6 text-right">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                        <span class="btn-title">ارسال</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!--search box-->
                    <div class="sidebar-widget sort-by">
                        <select class="custom-select-box">
                            <option>مرتب سازی</option>
                            <option>مسکونی</option>
                            <option>تجاری</option>
                            <option>صنعتی</option>
                            <option>آپارتمان</option>
                        </select>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget search-properties">
                        <div class="sidebar-title"><h2>ویژگی های جستجو</h2></div>
                        <!-- Property Search Form -->
                        <div class="property-search-form style-four">
                            <form method="post" action="index.html">
                                <div class="row no-gutters">
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>محل</option>
                                            <option>تهران</option>
                                            <option>اردبیل</option>
                                            <option>    اصفهان</option>
                                            <option>خوزستان</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>نوع ملک</option>
                                            <option>مسکونی</option>
                                            <option>تجاری</option>
                                            <option>صنعتی</option>
                                            <option>آپارتمان</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>وضعیت ملک</option>
                                            <option>برای اجاره</option>
                                            <option>برای فروش</option>
                                        </select>
                                    </div>


                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>اتاق خواب</option>
                                            <option>01 اتاق خواب</option>
                                            <option>02 اتاق خواب</option>
                                            <option>03 اتاق خواب</option>
                                            <option>04 اتاق خواب</option>
                                            <option>05 اتاق خواب</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>حمام</option>
                                            <option>01 حمام</option>
                                            <option>02 حمام</option>
                                            <option>03 حمام</option>
                                            <option>04 حمام</option>
                                            <option>05 حمام</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <div class="range-slider-one clearfix">
                                            <label>فیلتر قیمت</label>
                                            <div class="price-range-slider"></div>
                                            <div class="input"><input type="text" class="price-amount" name="field-name" readonly></div>
                                            <div class="title">تومان</div>
                                        </div>
                                    </div>


                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-two"><span class="btn-title">جستجو</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Form -->
                    </div>

                    <!-- Recent Properties -->
                    <div class="sidebar-widget recent-properties">
                        <div class="sidebar-title"><h2>ویژگی های اخیر</h2></div>
                        <div class="widget-content">
                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-1.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>

                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-2.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>

                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-3.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>

                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-4.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>
                        </div>
                    </div>

                    <!-- About Agent -->
                    <div class="sidebar-widget about-agent-widget">
                        <div class="sidebar-title"><h2>مشاور</h2></div>
                        <div class="widget-content">
                            <div class="image-box">
                                <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/agent-widget.jpg" alt=""></figure>
                            </div>
                            <div class="info-box">
                                <h3 class="name">محمد بهمنی</h3>
                                <span class="designation">مشاور املاک و مستغلات</span>
                                <ul class="contact-info">
                                    <li><strong>تلفن:</strong><a href="#">+021 12345678</a></li>
                                    <li><strong>ایمیل:</strong><a href="#">info@Revelrealestate.com</a></li>
                                    <li><strong>آدرس:</strong> تهران , زعفرانیه</li>
                                </ul>
                                <div class="social-links social-icon-colored">
                                    <strong>شبکه های اجتماعی:</strong>
                                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-google-plus"></span></a>
                                    <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                </div>
                                <div class="btn-box">
                                    <a href="agent-detail.html" class="theme-btn btn-style-two"><span class="btn-title">نمایش پروفایل</span></a>
                                    <a href="agent-detail.html" class="theme-btn btn-style-two"><span class="btn-title">ویژگی های من</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget agent-form-widget">
                        <div class="sidebar-title"><h2>تماس با مشاور</h2></div>
                        <!-- Agent Form -->
                        <div class="agent-form style-two">
                            <form method="post" action="index.html">
                                <!-- Form Group -->
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="نام">
                                </div>

                                <!-- Form Group -->
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="ایمیل">
                                </div>

                                <!-- Form Group -->
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="تلفن">
                                </div>

                                <!-- Form Group -->
                                <div class="form-group">
                                    <textarea name="message" placeholder="پیام"></textarea>
                                </div>

                                <!-- Form Group -->
                                <div class="form-group">
                                    <button type="submit" class="theme-btn btn-style-two"><span class="btn-title">ارسال</span></button>
                                </div>
                            </form>
                        </div>
                        <!-- End Form -->
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Container -->


