@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>ملک</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>ملک</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="property-list-view">
                    <!-- Property Block -->
                    <div class="property-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a asp-controller="Project" asp-action="Details" asp-route-id="1"><img src="images/icons/empty.png" data-src="images/resource/property-1.jpg" alt=""></a></figure>
                                <span class="for">برای فروش</span>
                            </div>
                            <div class="lower-content">
                                <ul class="property-info clearfix">
                                    <li><span class="icon fa fa-expand"></span> مساحت 12,000</li>
                                    <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                                    <li><span class="icon fa fa-bath"></span> حمام 2</li>
                                </ul>
                                <h3><a asp-controller="Project" asp-action="Details" asp-route-id="1">مازندران</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با    استفاده از طراحان گرافیک است. </div>
                            </div>
                            <div class="property-price clearfix">
                                <div class="location"><span class="icon fa fa-map-marker-alt"></span> سواحل های شمال کشور   </div>
                                <div class="price"> 765,300</div>
                            </div>
                        </div>
                    </div>

                    <!-- Property Block -->
                    <div class="property-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="property-detail.html"><img src="images/icons/empty.png" data-src="images/resource/property-1.jpg" alt=""></a></figure>
                                <span class="for">برای فروش</span>
                            </div>
                            <div class="lower-content">
                                <ul class="property-info clearfix">
                                    <li><span class="icon fa fa-expand"></span> مساحت 12,000</li>
                                    <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                                    <li><span class="icon fa fa-bath"></span> حمام 2</li>
                                </ul>
                                <h3><a href="property-detail.html">مازندران</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با    استفاده از طراحان گرافیک است. </div>
                            </div>
                            <div class="property-price clearfix">
                                <div class="location"><span class="icon fa fa-map-marker-alt"></span> سواحل های شمال کشور   </div>
                                <div class="price"> 765,300</div>
                            </div>
                        </div>
                    </div>

                    <!-- Property Block -->
                    <div class="property-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="property-detail.html"><img src="images/icons/empty.png" data-src="images/resource/property-1.jpg" alt=""></a></figure>
                                <span class="for">برای فروش</span>
                            </div>
                            <div class="lower-content">
                                <ul class="property-info clearfix">
                                    <li><span class="icon fa fa-expand"></span> مساحت 12,000</li>
                                    <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                                    <li><span class="icon fa fa-bath"></span> حمام 2</li>
                                </ul>
                                <h3><a href="property-detail.html">مازندران</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با    استفاده از طراحان گرافیک است. </div>
                            </div>
                            <div class="property-price clearfix">
                                <div class="location"><span class="icon fa fa-map-marker-alt"></span> سواحل های شمال کشور   </div>
                                <div class="price"> 765,300</div>
                            </div>
                        </div>
                    </div>

                    <!-- Property Block -->
                    <div class="property-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="property-detail.html"><img src="images/icons/empty.png" data-src="images/resource/property-1.jpg" alt=""></a></figure>
                                <span class="for">برای فروش</span>
                            </div>
                            <div class="lower-content">
                                <ul class="property-info clearfix">
                                    <li><span class="icon fa fa-expand"></span> مساحت 12,000</li>
                                    <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                                    <li><span class="icon fa fa-bath"></span> حمام 2</li>
                                </ul>
                                <h3><a href="property-detail.html">مازندران</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با    استفاده از طراحان گرافیک است. </div>
                            </div>
                            <div class="property-price clearfix">
                                <div class="location"><span class="icon fa fa-map-marker-alt"></span> سواحل های شمال کشور   </div>
                                <div class="price"> 765,300</div>
                            </div>
                        </div>
                    </div>

                    <!-- Property Block -->
                    <div class="property-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="property-detail.html"><img src="images/icons/empty.png" data-src="images/resource/property-1.jpg" alt=""></a></figure>
                                <span class="for">برای فروش</span>
                            </div>
                            <div class="lower-content">
                                <ul class="property-info clearfix">
                                    <li><span class="icon fa fa-expand"></span> مساحت 12,000</li>
                                    <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                                    <li><span class="icon fa fa-bath"></span> حمام 2</li>
                                </ul>
                                <h3><a href="property-detail.html">مازندران</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با    استفاده از طراحان گرافیک است. </div>
                            </div>
                            <div class="property-price clearfix">
                                <div class="location"><span class="icon fa fa-map-marker-alt"></span> سواحل های شمال کشور   </div>
                                <div class="price"> 765,300</div>
                            </div>
                        </div>
                    </div>

                    <!-- Property Block -->
                    <div class="property-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="property-detail.html"><img src="images/icons/empty.png" data-src="images/resource/property-1.jpg" alt=""></a></figure>
                                <span class="for">برای فروش</span>
                            </div>
                            <div class="lower-content">
                                <ul class="property-info clearfix">
                                    <li><span class="icon fa fa-expand"></span> مساحت 12,000</li>
                                    <li><span class="icon fa fa-bed"></span> اتاق خواب 3</li>
                                    <li><span class="icon fa fa-bath"></span> حمام 2</li>
                                </ul>
                                <h3><a href="property-detail.html">مازندران</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با    استفاده از طراحان گرافیک است. </div>
                            </div>
                            <div class="property-price clearfix">
                                <div class="location"><span class="icon fa fa-map-marker-alt"></span> سواحل های شمال کشور   </div>
                                <div class="price"> 765,300</div>
                            </div>
                        </div>
                    </div>

                    <!--Post Share Options-->
                    <div class="styled-pagination text-center">
                        <ul class="clearfix">
                            <li class="prev-post"><a href="#"><span class="fa fa-angle-right"></span> قبلی</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next-post"><a href="#"> بعد <span class="fa fa-angle-left"></span> </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!--search box-->
                    <div class="sidebar-widget sort-by">
                        <select class="custom-select-box">
                            <option>مرتب سازی</option>
                            <option>مسکونی</option>
                            <option>تجاری</option>
                            <option>صنعتی</option>
                            <option>آپارتمان</option>
                        </select>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget search-properties">
                        <div class="sidebar-title"><h2>ویژگی های جستجو</h2></div>
                        <!-- Property Search Form -->
                        <div class="property-search-form style-four">
                            <form method="post" action="index.html">
                                <div class="row no-gutters">
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>محل</option>
                                            <option>تهران</option>
                                            <option>اردبیل</option>
                                            <option>    اصفهان</option>
                                            <option>خوزستان</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>نوع ملک</option>
                                            <option>مسکونی</option>
                                            <option>تجاری</option>
                                            <option>صنعتی</option>
                                            <option>آپارتمان</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>وضعیت ملک</option>
                                            <option>برای اجاره</option>
                                            <option>برای فروش</option>
                                        </select>
                                    </div>


                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>اتاق خواب</option>
                                            <option>01 اتاق خواب</option>
                                            <option>02 اتاق خواب</option>
                                            <option>03 اتاق خواب</option>
                                            <option>04 اتاق خواب</option>
                                            <option>05 اتاق خواب</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <select class="custom-select-box">
                                            <option>حمام</option>
                                            <option>01 حمام</option>
                                            <option>02 حمام</option>
                                            <option>03 حمام</option>
                                            <option>04 حمام</option>
                                            <option>05 حمام</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <div class="range-slider-one clearfix">
                                            <label>فیلتر قیمت</label>
                                            <div class="price-range-slider"></div>
                                            <div class="input"><input type="text" class="price-amount" name="field-name" readonly></div>
                                            <div class="title">تومان</div>
                                        </div>
                                    </div>


                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-two"><span class="btn-title">جستجو</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Form -->
                    </div>

                    <!-- Recent Properties -->
                    <div class="sidebar-widget recent-properties">
                        <div class="sidebar-title"><h2>ویژگی های اخیر</h2></div>
                        <div class="widget-content">
                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-2.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>

                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-2.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>

                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-2.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>

                            <!-- Post -->
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="blog-detail.html">
                                        <img src="images/icons/empty.png" data-src="images/resource/property-thumb-2.jpg" alt="">
                                        <span class="status">اجاره</span>
                                    </a>
                                </div>
                                <span class="location">تهران, زعفرانیه</span>
                                <h3><a href="blog-detail.html">ویلا لوکس</a></h3>
                                <div class="price"> 760,000</div>
                            </article>
                        </div>
                    </div>


                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Container -->
<!--Clients Section-->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->