@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="popular-places-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>مکان های دیدنی</h2>
        </div>

        <div class="masonry-items-container clearfix">
            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/1.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>اپارتمان</h4>
                        <span>15 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>اپارتمان</h4>
                            <span class="properties">15 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item large-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/2.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>ویلا</h4>
                        <span>7 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>ویلا</h4>
                            <span class="properties">7 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/3.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>خانه</h4>
                        <span>50 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>خانه</h4>
                            <span class="properties">50 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/4.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>رستوران</h4>
                        <span>5 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>رستوران</h4>
                            <span class="properties">5 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item small-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/5.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>کافه</h4>
                        <span>5 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>کافه</h4>
                            <span class="properties">5 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="popular-item masonry-item large-item">
                <div class="image-box">
                    <figure class="image">
                        <img src="images/icons/empty.png"
                             data-src="images/gallery/6.jpg"
                             alt="" />
                    </figure>
                    <div class="caption-box">
                        <h4>مزرعه</h4>
                        <span>5 ملک</span>
                    </div>
                    <div class="overlay-box">
                        <div class="info-box">
                            <h4>مزرعه</h4>
                            <span class="properties">5 ملک</span>
                            <a href="images/gallery/1.jpg"
                               class="lightbox-image images-btn">
                                25 عکس <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
