@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="agents-section">
    <div class="auto-container">
        <div class="sec-title">
            <div class="devider"><span></span></div>
            <h2>مشاوران حرفه ای</h2>
            <div class="text">با مشاوران حرفه ای از املاک دیدن کنید</div>
        </div>

        <div class="agents-carousel owl-carousel owl-theme">
            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-1.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">محمد بهمنی</a>
                        </h4>
                        <span class="designation">14 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-2.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">فلورا معصومی</a>
                        </h4>
                        <span class="designation">21 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-3.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">سعید ملکی</a>
                        </h4>
                        <span class="designation">11 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-1.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">محمد بهمنی</a>
                        </h4>
                        <span class="designation">14 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-2.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">فلورا معصومی</a>
                        </h4>
                        <span class="designation">12 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="agent-detail.html">
                                <img src="images/icons/empty.png"
                                     data-src="images/resource/agent-3.jpg"
                                     alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name">
                            <a href="agent-detail.html">سعید ملکی</a>
                        </h4>
                        <span class="designation">12 ملک</span>
                        <ul class="social-links social-icon-colored">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>