
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>جزئیات اخبار</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>جزئیات اخبار</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="blog-detail">
                    <!-- News BLock Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image wow fadeIn"><img src="images/icons/empty.png" data-src="images/resource/blog-1.jpg" alt=""></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>23 مرداد 1398</li>
                                    <li>0 نظرات</li>
                                    <li>توسط مجید محبی</li>
                                </ul>
                                <h3>آیا می دانید ارزش خانه برای این اقدام چقدر است.</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <h4>چرا مهم است؟</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                <blockquote>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</blockquote>
                                <div class="two-column">
                                    <div class="row">
                                        <div class="image-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                            <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/post-image-1.jpg" alt=""></figure>
                                        </div>

                                        <div class="text-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته.</p>
                                        </div>
                                    </div>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Post Share Option -->
                    <div class="post-share-options clearfix">
                        <div class="pull-right clearfix">
                            <span class="icon fa fa-tags"></span>
                            <ul class="tags">
                                <li><a href="#">اپارتمان</a>,</li>
                                <li><a href="#">خان</a>,</li>
                                <li><a href="#">چند خانواده,</a></li>
                                <li><a href="#">ویلا</a></li>
                            </ul>
                        </div>
                        <div class="pull-left clearfix">
                            <ul class="social-icon social-icon-colored clearfix">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Blog Post Controls-->
                    <div class="blog-post-controls">
                        <div class="inner clearfix">
                            <div class="prev-post">
                                <div class="thumb"><img src="images/icons/empty.png" data-src="images/resource/prev-post.jpg" alt=""></div>
                                <h5><a href="blog-detail.html">چگونه محوطه سازی می تواند مهار کند.</a></h5>
                                <span class="title">بعد</span>
                            </div>

                            <div class="next-post">
                                <div class="thumb"><img src="images/icons/empty.png" data-src="images/resource/next-post.jpg" alt=""></div>
                                <h5><a href="blog-detail.html">علائم مشکلات زهکشی حیاط</a></h5>
                                <span class="title">قبلی</span>
                            </div>
                        </div>
                    </div>

                    <!--Comments Area-->
                    <div class="comments-area">

                        <div class="group-title">
                            <h3>نظرات اخیر: 03</h3>
                        </div>

                        <!--Comment Box-->
                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb">
                                    <img src="images/icons/empty.png" data-src="images/resource/thumb-1.jpg" alt="">
                                    <a class="comment-reply" href="#">پاسخ</a>
                                </div>
                                <div class="comment-inner">
                                    <div class="comment-info clearfix">مهدی محمدی<div class="comment-time">اسفند 7 , 1398 ساعت 12:21 صبح</div></div>
                                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه.</div>
                                </div>
                            </div>
                        </div>

                        <!--Comment Box-->
                        <div class="comment-box reply-comment">
                            <div class="comment">
                                <div class="author-thumb">
                                    <img src="images/icons/empty.png" data-src="images/resource/thumb-2.jpg" alt="">
                                    <a class="comment-reply" href="#">پاسخ</a>
                                </div>
                                <div class="comment-inner">
                                    <div class="comment-info clearfix">سارا فتحی<div class="comment-time">اسفند 7 , 1398 ساعت 12:21 صبح</div></div>
                                    <div class="text">در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت .</div>
                                </div>
                            </div>
                        </div>

                        <!--Comment Box-->
                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb">
                                    <img src="images/icons/empty.png" data-src="images/resource/thumb-3.jpg" alt="">
                                    <a class="comment-reply" href="#">پاسخ</a>
                                </div>
                                <div class="comment-inner">
                                    <div class="comment-info clearfix">رضا جعفری<div class="comment-time">اسفند 7 , 1398 ساعت 12:21 صبح</div></div>
                                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Comments Area-->
                    <!-- Comment Form -->
                    <div class="comment-form">
                        <div class="group-title">
                            <h3>پیام بگذارید</h3>
                        </div>
                        <!--Comment Form-->
                        <form method="post" action="contact.html">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="username" placeholder="نام و نام خانوادگی" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="email" name="email" placeholder="آدرس ایمیل" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="subject" placeholder="موضوع" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="number" placeholder="شماره تلفن" required>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <textarea name="message" placeholder="پیام"></textarea>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">ارسال نظر</span></button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--End Comment Form -->
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!--search box-->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="blog.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="جستجوی ملک" required="">
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h2>دسته بندی ها</h2></div>
                        <ul class="category-list">
                            <li><a href="#">اپارتمان  <span>(6)</span></a></li>
                            <li><a href="#">مشتری   <span>(1)</span></a></li>
                            <li><a href="#">سبز   <span>(3)</span></a></li>
                            <li><a href="#">کوهستانی <span>(1)</span></a></li>
                            <li><a href="#">مشاورین املاک    <span>(7)</span></a></li>
                            <li><a href="#">ویلا    <span>(7)</span></a></li>
                        </ul>
                    </div>

                    <!-- Social Links Widget -->
                    <div class="sidebar-widget social-links-widget">
                        <div class="sidebar-title"><h2>شبکه های اجتماعی</h2></div>
                        <div class="widget-content">
                            <ul class="social-icon-three social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Latest News -->
                    <div class="sidebar-widget latest-news">
                        <div class="sidebar-title"><h2>پست های اخیر</h2></div>
                        <div class="widget-content">
                            <article class="post">
                                <div class="post-thumb"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                                <h3><a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></h3>
                                <div class="post-info">03 شهریور 1398</div>
                            </article>

                            <article class="post">
                                <div class="post-thumb"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/post-thumb-4.jpg" alt=""></a></div>
                                <h3><a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></h3>
                                <div class="post-info">04 شهریور 1398</div>
                            </article>

                            <article class="post">
                                <div class="post-thumb"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/post-thumb-5.jpg" alt=""></a></div>
                                <h3><a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></h3>
                                <div class="post-info">04 شهریور 1398</div>
                            </article>
                        </div>
                    </div>


                    <!-- Tags -->
                    <div class="sidebar-widget tags">
                        <div class="sidebar-title"><h2>برچسب ها</h2></div>
                        <ul class="tag-list clearfix">
                            <li><a href="#">اپارتمان</a></li>
                            <li><a href="#">مسکن</a></li>
                            <li><a href="#">خانه</a></li>
                            <li><a href="#">مجرد</a></li>
                            <li><a href="#">بازار</a></li>
                            <li><a href="#">خانه</a></li>
                            <li><a href="#">ویلاها</a></li>
                            <li><a href="#">بازار</a></li>
                        </ul>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Container -->
<!--Clients Section-->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
