@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>آخرین اخبار</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>آخرین اخبار</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="blog-sidebar">
                    <!-- News BLock Two -->
                    <div class="news-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a a asp-controller="Blog" asp-action="Details" asp-route-id="1"><img src="images/icons/empty.png" data-src="images/resource/blog-1.jpg" alt=""></a></figure>
                                <div class="overlay-box"><a a asp-controller="Blog" asp-action="Details" asp-route-id="1"><span class="fa fa-plus"></span></a></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>23 مرداد 1398</li>
                                    <li>0 نظرات</li>
                                    <li>توسط مجید محبی</li>
                                </ul>
                                <h3><a asp-controller="Blog" asp-action="Details" asp-route-id="1">آیا می دانید ارزش خانه برای این اقدام چقدر است.</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته.</div>
                            </div>
                        </div>
                    </div>

                    <!-- News BLock Two -->
                    <div class="news-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/blog-2.jpg" alt=""></a></figure>
                                <div class="overlay-box"><a href="blog-detail.html"><span class="fa fa-plus"></span></a></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>23 مرداد 1398</li>
                                    <li>0 نظرات</li>
                                    <li>توسط مجید محبی</li>
                                </ul>
                                <h3><a href="blog-detail.html">نامه سرگشاده به موسسان فناوری املاک و مستغلات.</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته.</div>
                            </div>
                        </div>
                    </div>

                    <!-- News BLock Two -->
                    <div class="news-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/blog-3.jpg" alt=""></a></figure>
                                <div class="overlay-box"><a href="blog-detail.html"><span class="fa fa-plus"></span></a></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>23 مرداد 1398</li>
                                    <li>0 نظرات</li>
                                    <li>توسط مجید محبی</li>
                                </ul>
                                <h3><a href="blog-detail.html">راهنمای مسکونی گرمای هوا و تهویه مطبوع.</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته.</div>
                            </div>
                        </div>
                    </div>

                    <!-- News BLock Two -->
                    <div class="news-block-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/blog-4.jpg" alt=""></a></figure>
                                <div class="overlay-box"><a href="blog-detail.html"><span class="fa fa-plus"></span></a></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>23 مرداد 1398</li>
                                    <li>0 نظرات</li>
                                    <li>توسط مجید محبی</li>
                                </ul>
                                <h3><a href="blog-detail.html">منابعی که فکر کردیم ممکن است مفید باشد.</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته.</div>
                            </div>
                        </div>
                    </div>

                    <!--Post Share Options-->
                    <div class="styled-pagination text-center">
                        <ul class="clearfix">
                            <li class="prev-post"><a href="#"><span class="fa fa-angle-right"></span> قبلی</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next-post"><a href="#"> بعد <span class="fa fa-angle-left"></span> </a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!--search box-->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="blog.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="جستجوی ملک" required="">
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h2>دسته بندی ها</h2></div>
                        <ul class="category-list">
                            <li><a href="#">اپارتمان  <span>(6)</span></a></li>
                            <li><a href="#">مشتری   <span>(1)</span></a></li>
                            <li><a href="#">سبز   <span>(3)</span></a></li>
                            <li><a href="#">کوهستانی <span>(1)</span></a></li>
                            <li><a href="#">مشاورین املاک    <span>(7)</span></a></li>
                            <li><a href="#">ویلا    <span>(7)</span></a></li>
                        </ul>
                    </div>

                    <!-- Social Links Widget -->
                    <div class="sidebar-widget social-links-widget">
                        <div class="sidebar-title"><h2>شبکه های اجتماعی</h2></div>
                        <div class="widget-content">
                            <ul class="social-icon-three social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Latest News -->
                    <div class="sidebar-widget latest-news">
                        <div class="sidebar-title"><h2>پست های اخیر</h2></div>
                        <div class="widget-content">
                            <article class="post">
                                <div class="post-thumb"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                                <h3><a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></h3>
                                <div class="post-info">03 شهریور 1398</div>
                            </article>

                            <article class="post">
                                <div class="post-thumb"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/post-thumb-4.jpg" alt=""></a></div>
                                <h3><a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></h3>
                                <div class="post-info">04 شهریور 1398</div>
                            </article>

                            <article class="post">
                                <div class="post-thumb"><a href="blog-detail.html"><img src="images/icons/empty.png" data-src="images/resource/post-thumb-5.jpg" alt=""></a></div>
                                <h3><a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></h3>
                                <div class="post-info">04 شهریور 1398</div>
                            </article>
                        </div>
                    </div>

                    <!-- Tags -->
                    <div class="sidebar-widget tags">
                        <div class="sidebar-title"><h2>برچسب ها</h2></div>
                        <ul class="tag-list clearfix">
                            <li><a href="#">اپارتمان</a></li>
                            <li><a href="#">مسکن</a></li>
                            <li><a href="#">خانه</a></li>
                            <li><a href="#">مجرد</a></li>
                            <li><a href="#">بازار</a></li>
                            <li><a href="#">خانه</a></li>
                            <li><a href="#">ویلاها</a></li>
                            <li><a href="#">بازار</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Container -->
