@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>درباره ما</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>درباره ما</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="row">
            <!-- Info Column -->
            <div class="info-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="devider"><span></span></div>
                        <h2>به سایت مشاور مسکن خوش آمدید</h2>
                        <div class="text">ما همیشه دارایی را به مشتری خود ارائه می دهیم</div>
                    </div>
                    <div class="text-box">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت  .</p>
                    </div>

                    <div class="row features">
                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-rent-1"></span>
                                <h4><a href="about.html">از دست دادن هزینه</a></h4>
                                <div class="text">لورم ایپسوم متن ساختگی</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-analytics"></span>
                                <h4><a href="about.html">بازاریابی خوب</a></h4>
                                <div class="text">لورم ایپسوم متن ساختگی</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-home-2"></span>
                                <h4><a href="about.html">پیدا کردن راحت</a></h4>
                                <div class="text">لورم ایپسوم متن ساختگی</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-protect"></span>
                                <h4><a href="about.html">قابل اعتماد</a></h4>
                                <div class="text">لورم ایپسوم متن ساختگی</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image Column -->
            <div class="image-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="image-box wow fadeInRight">
                    <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/image-3.jpg" alt=""></figure>
                    <div class="contact-info">
                        <span class="icon fa fa-phone-volume"></span>
                        <a href="tel:+8236558625" class="number">+021 12345678</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us -->
<!-- Fun Facts Section -->
<section class="fun-facts-section">
    <div class="auto-container">
        <div class="fun-facts">
            <div class="row clearfix">
                <!--Column-->
                <div class="column count-box col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="content">
                        <div class="icon-box"><span class="fa fa-home"></span></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="3000" data-stop="856">0 </span>
                        </div>
                        <div class="counter-title">پروژه کامل</div>
                    </div>
                </div>

                <!--Column-->
                <div class="column count-box col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="content">
                        <div class="icon-box"><span class="fa fa-key"></span></div>
                        <div class="count-outer count-box">
                            +<span class="count-text" data-speed="2000" data-stop="99">0 </span>
                        </div>
                        <div class="counter-title">املاک فروخته شده</div>
                    </div>
                </div>


                <!--Column-->
                <div class="column count-box col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="content">
                        <div class="icon-box"><span class="fa fa-smile"></span></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="2000" data-stop="450">0 </span>
                        </div>
                        <div class="counter-title">مشتریان</div>
                    </div>
                </div>

                <!--Column-->
                <div class="column count-box col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                    <div class="content">
                        <div class="icon-box"><span class="fa fa-trophy"></span></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="3000" data-stop="120">0 </span>
                        </div>
                        <div class="counter-title">جوایز برنده شد</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fun Fact Section -->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content COlumn -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="devider"><span></span></div>
                        <h2>درباره ما</h2>
                        <div class="text">خوش آمدید سایت مشاور املاک و مستغلات</div>
                    </div>

                    <!-- text Box -->
                    <div class="text-box">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                    </div>

                    <!-- About Block -->
                    <div class="about-block wow fadeInUp">
                        <div class="inner">
                            <div class="icon flaticon-layers"></div>
                            <h4>کار ما</h4>
                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                        </div>
                    </div>

                    <!-- About Block -->
                    <div class="about-block wow fadeInUp">
                        <div class="inner">
                            <div class="icon flaticon-bar-chart"></div>
                            <h4>دیدگاه ما</h4>
                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature Column -->
            <div class="feature-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column" style="background-image: url(images/resource/image-1.jpg);">
                    <div class="row no-gutters">
                        <!-- Title Block -->
                        <div class="title-block col-lg-6 col-md-6 wow fadeIn">
                            <div class="inner-box">
                                <h3>بهترین <br>پیشنهادات املاک </h3>
                            </div>
                        </div>

                        <!-- Feature-block -->
                        <div class="feature-block col-lg-6 col-md-6 wow fadeIn" data-wow-delay="400ms">
                            <div class="inner-box">
                                <div class="icon flaticon-home-insurance"></div>
                                <h4><a href="property-detail.html">بیمه املاک</a></h4>
                                <div class="text">مدیریت املاک</div>
                            </div>
                        </div>

                        <!-- Feature-block -->
                        <div class="feature-block col-lg-6 col-md-6 order-2 wow fadeIn" data-wow-delay="800ms">
                            <div class="inner-box">
                                <div class="icon flaticon-home-2"></div>
                                <h4><a href="property-detail.html">جستجوی املاک</a></h4>
                                <div class="text">مدیریت املاک</div>
                            </div>
                        </div>

                        <!-- Feature-block -->
                        <div class="feature-block col-lg-6 col-md-6 wow fadeIn" data-wow-delay="1200ms">
                            <div class="inner-box">
                                <div class="icon flaticon-mortgage"></div>
                                <h4><a href="property-detail.html">تحلیل بازار</a></h4>
                                <div class="text">مدیریت املاک</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section -->
<!-- App Section -->
<section class="app-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content Box -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="devider"><span></span></div>
                        <h2>جستجوی ملک</h2>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</div>
                    </div>
                    <div class="text-box">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
                    <div class="link-box">
                        <a href="#"><img src="images/icons/empty.png" data-src="images/icons/app-store.png" alt=""></a>
                        <a href="#"><img src="images/icons/empty.png" data-src="images/icons/google-play.png" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- Image Box -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image wow fadeInRight"><img src="images/icons/empty.png" data-src="images/resource/phone-img.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End App Section -->
<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>آنچه مشتریان ما می گوید</h2>
            <div class="text">خانه رویایی خود را در شهر خود پیدا کنید</div>
        </div>

        <div class="testimonial-carousel owl-carousel owl-theme">
            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/testi-thumb.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">سعید محمودی</h4>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/testi-thumb-2.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">ستاره جعفری</h4>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/testi-thumb.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">سعید محمودی</h4>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/testi-thumb-2.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">ستاره جعفری</h4>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/testi-thumb.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">سعید محمودی</h4>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/icons/empty.png" data-src="images/resource/testi-thumb-2.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <span class="designation">لورم ایپسوم</span>
                        <h4 class="name">ستاره جعفری</h4>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section -->
<!--Clients Section-->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/icons/empty.png" data-src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->