@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="banner-section">
    <div class="banner-carousel owl-carousel owl-theme">
        <!-- Slide Item -->
        <div class="slide-item"
             style="background-image: url(images/main-slider/1.jpg)">
            <div class="auto-container">
                <div class="inner-box">
                    <div class="content-box">
                        <span class="price">1500<small>/اجاره ماهانه</small></span>
                        <h2>خانه زیبا در بهترین مکان</h2>
                        <ul class="property-info">
                            <li>
                                <span class="icon flaticon-bed-1"></span>
                                <strong>03</strong>
                                <p>اتاق خواب</p>
                            </li>
                            <li>
                                <span class="icon flaticon-kitchen"></span>
                                <strong>01</strong>
                                <p>آشپزخانه</p>
                            </li>
                            <li>
                                <span class="icon flaticon-grass"></span>
                                <strong>02</strong>
                                <p>زمین بازی</p>
                            </li>
                        </ul>
                        <div class="address">
                            <span class="icon fa fa-map-marker-alt"></span>ایران , رشت ,
                            خیابان مدائن , کوچه گلریز , پلاک 123
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-two"><span class="btn-title">قرار ملاقات</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item"
             style="background-image: url(images/main-slider/2.jpg)">
            <div class="auto-container">
                <div class="inner-box">
                    <div class="content-box">
                        <span class="price">1500<small>/اجاره ماهانه</small></span>
                        <h2>خانه زیبا در بهترین مکان</h2>
                        <ul class="property-info">
                            <li>
                                <span class="icon flaticon-bed-1"></span>
                                <strong>03</strong>
                                <p>اتاق خواب</p>
                            </li>
                            <li>
                                <span class="icon flaticon-kitchen"></span>
                                <strong>01</strong>
                                <p>آشپزخانه</p>
                            </li>
                            <li>
                                <span class="icon flaticon-grass"></span>
                                <strong>02</strong>
                                <p>زمین بازی</p>
                            </li>
                        </ul>
                        <div class="address">
                            <span class="icon fa fa-map-marker-alt"></span>ایران , رشت ,
                            خیابان مدائن , کوچه گلریز , پلاک 123
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-two"><span class="btn-title">قرار ملاقات</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item"
             style="background-image: url(images/main-slider/3.jpg)">
            <div class="auto-container">
                <div class="inner-box">
                    <div class="content-box">
                        <span class="price">1500<small>/اجاره ماهانه</small></span>
                        <h2>خانه زیبا در بهترین مکان</h2>
                        <ul class="property-info">
                            <li>
                                <span class="icon flaticon-bed-1"></span>
                                <strong>03</strong>
                                <p>اتاق خواب</p>
                            </li>
                            <li>
                                <span class="icon flaticon-kitchen"></span>
                                <strong>01</strong>
                                <p>آشپزخانه</p>
                            </li>
                            <li>
                                <span class="icon flaticon-grass"></span>
                                <strong>02</strong>
                                <p>زمین بازی</p>
                            </li>
                        </ul>
                        <div class="address">
                            <span class="icon fa fa-map-marker-alt"></span>ایران , رشت ,
                            خیابان مدائن , کوچه گلریز , پلاک 123
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-two"><span class="btn-title">قرار ملاقات</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>