@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="news-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>اخبار و مقاله ما</h2>
            <div class="text">همه درباره آخرین به روزرسانی ها</div>
        </div>

        <div class="inner-container">
            <div class="news-carousel owl-carousel owl-theme">
                <!-- News BLock -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a asp-controller="Blog" asp-action="Details" asp-route-id="1">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-1.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a asp-controller="Blog" asp-action="Details" asp-route-id="1">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="blog-detail.html">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-2.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- News BLock -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="blog-detail.html">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-1.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="blog-detail.html">
                                    <img src="images/icons/empty.png"
                                         data-src="images/resource/news-2.jpg"
                                         alt="" />
                                </a>
                            </figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">29 شهریور 1398</div>
                            <h3>
                                <a href="blog-detail.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
