@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/4.jpg)">
    <div class="auto-container">
        <h1>خطای 404</h1>
        <ul class="page-breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">خانه</a></li>
            <li>خطای 404</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Error Section-->
<section class="error-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h1>4<span>0</span>4</h1>
        </div>
        <div class="text">موردی یافت نشد</div>
        <h3>لطفاً یکی از صفحات <br>زیر را امتحان کنید</h3>
        <a asp-controller="Home" asp-action="Index" class="theme-btn btn-style-one"><span class="btn-title">صفحه نخست</span></a>
        <a asp-controller="ContactUs" asp-action="Index" href="contact.html" class="theme-btn btn-style-one"><span class="btn-title">تماس با ما</span></a>
    </div>
</section>
<!--Error Section-->
